<div class="row">
    <div class="col-md-12">
        <nb-card class="inline-form-card">
            <nb-card-header>取引検索</nb-card-header>
            <nb-card-body>
                <form [formGroup]="conditionsForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Where?</label>
                        <select multiple class="form-control" formControlName="sellerBranchCodes">
                            <option *ngFor="let movieTheater of movieTheaters" value="{{movieTheater.branchCode}}">{{movieTheater.name.ja}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>購入番号</label>
                        <input class="form-control" formControlName="confirmationNumber" type="text" placeholder="購入番号" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Search</button> &nbsp;
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<nb-card>
    <nb-card-header>
        <span *ngIf="searching">searching...</span>
        <span *ngIf="!searching">Results: {{transactions.length}} events</span>
    </nb-card-header>
    <nb-card-body>
        <table class="table" *ngIf="!searching">
            <thead>
                <tr>
                    <th>id</th>
                    <th>startDate</th>
                    <th>endDate</th>
                    <th>customer</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transaction of transactions">
                    <th scope="row" (click)="onSelect(transaction)">{{transaction.id}}</th>
                    <td>{{transaction.startDate}}</td>
                    <td>{{transaction.endDate}}</td>
                    <td>{{transaction.object.customerContact.givenName}}
                        <br>{{transaction.object.customerContact.familyName}}</td>
                </tr>
            </tbody>
        </table>
    </nb-card-body>
</nb-card>