<%- contentFor('script') %>
    <script src="/js/account/deposit.js"></script>
    <%- contentFor('style') %>
        <link href="/css/account/deposit.css" rel="stylesheet">
        <%- contentFor('body') %>
        <h1 class="h2 mb-4"><i class="fas fa-exchange-alt mr-2"></i>ポイント付与</h1>
        <p class="border border-danger text-danger col-sm-6 p-2 mb-4 errors"></p>    
        <form>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">受取人id</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="recipientId" placeholder="入金受取人情報 id">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">受取人name　<span class="badge badge-danger align-text-bottom">必須</span></label>
                    <div class="col-sm-8">
                        <div class="form-group row">
                            <label class="col-sm-1 col-form-label">姓</label>
                            <div class="col-sm-11">
                                <input type="text" class="form-control" name="recipientFamilyName" placeholder="入金受取人情報 name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-1 col-form-label">名</label>
                            <div class="col-sm-11">
                                <input type="text" class="form-control" name="recipientGivenName" placeholder="入金受取人情報 name">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">受取人url</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="recipientUrl" placeholder="入金受取人情報 url">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">口座番号　<span class="badge badge-danger align-text-bottom">必須</span></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="toAccountNumber" placeholder="入金先口座番号">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">加算・減算ポイント　<span class="badge badge-danger align-text-bottom">必須</span></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control mb-3" name="amount" placeholder="入金金額">
                        <P>ポイント換算表は<a href='' data-toggle="modal" data-target="#pointConversionTable">こちら</a></P>
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <label class="col-sm-4 col-form-label">備考</label>
                    <div class="col-sm-8">
                        <select name="notes" class="custom-select">
                            <option value="テスト入金">テスト入金</option>
                            <option value="スマホアプリへポイント移行">スマホアプリへポイント移行</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <button type="submit" class="submit btn btn-primary btn-lg mx-auto">ポイント付与</button>
                </div>
            </form>




  
  <!-- Modal -->
  <div class="modal fade" id="pointConversionTable" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">ポイント換算表</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">現状</th>
                    <th scope="col">新会員</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>0〜299ポイント</td>
                    <td>0ポイント</td>
                  </tr>
                  <tr>
                    <td>300〜599ポイント</td>
                    <td>1ポイント</td>
                  </tr>
                  <tr>
                    <td>600〜899ポイント</td>
                    <td>2ポイント</td>
                  </tr>
                  <tr>
                    <td>900〜1199ポイント</td>
                    <td>3ポイント</td>
                  </tr>
                  <tr>
                    <td>1200〜1499ポイント</td>
                    <td>4ポイント</td>
                  </tr>
                  <tr>
                    <td>1500〜1799ポイント</td>
                    <td>5ポイント</td>
                  </tr>
                  <tr>
                    <td>1800〜2099ポイント</td>
                    <td>6ポイント</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        </div>
      </div>
    </div>
  </div>

    <!-- Modal -->
    <div class="modal fade" id="grantingPointsDone" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">ポイント付与完了</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
            </div>
          </div>
        </div>
      </div>