/* .errors {
    display: none;
    line-height: 1.5;
} */
/* .membership {
    display: none;
} */
.number {
    font-size: 3em;
}

.errors {
    display: none;
    line-height: 1.5;
}

.membership {
    display: none;
}