<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">劇場追加</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/organizations/movieTheater">劇場検索</a>
                    </li>
                    <li class="breadcrumb-item active">劇場追加</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <!-- <div class="card-header">
                        <h3 class="card-title">Quick Example</h3>
                    </div> -->
                    <!-- /.card-header -->

                    <!-- form start -->
                    <form role="form" method="post">
                        <div class="card-body">
                            <% if (messages.message) { %>
                                <div class="alert alert-success alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <h5>
                                        <i class="icon fa fa-check"></i> Congraturations!</h5>
                                    <%= messages.message %>
                                </div>
                                <% } %>

                                    <% if (message) { %>
                                        <div class="alert alert-warning alert-dismissible">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                            <%= message %>
                                        </div>
                                        <% } %>

                                            <div class="form-group">
                                                <label for="branchCode">枝番号</label>
                                                <input type="text" class="form-control" id="branchCode" name="branchCode" placeholder="枝番号" value="">
                                            </div>
                                            <div class="form-group">
                                                <label for="gmoInfo.siteId">GMOサイトID</label>
                                                <input type="text" class="form-control" id="gmoInfo.siteId" disabled placeholder="GMOサイトID" value="<%= process.env.GMO_SITE_ID %>">
                                            </div>
                                            <div class="form-group">
                                                <label for="gmoInfo.shopId">GMOショップID</label>
                                                <input type="text" class="form-control" id="gmoInfo.shopId" name="gmoInfo.shopId" placeholder="GMOショップID" value="">
                                            </div>
                                            <div class="form-group">
                                                <label for="gmoInfo.shopPass">GMOショップPASS</label>
                                                <input type="password" class="form-control" id="gmoInfo.shopPass" name="gmoInfo.shopPass" placeholder="GMOショップPASS" value="">
                                            </div>
                                            <div class="form-group">
                                                <label for="url">URL</label>
                                                <input type="text" class="form-control" id="url" name="url" placeholder="劇場URL" value="">
                                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">作成</button>
                            <button type="button" class="btn btn-secondary float-right" onclick="location.href='/organizations/movieTheater'">キャンセル</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->

            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

<!-- page script -->
<script>
</script>