@import '../../../@theme/styles/themes';

@include nb-install-component() {
  /deep/ chart {
    display: block;
    height: 100%;
    width: 100%;
  }

  nb-tabset {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  nb-tab {
    height: nb-theme(card-height-large);
    padding: nb-theme(padding);
  }
}
