<nb-card>
    <nb-tabset>
        <nb-tab tabTitle="イベント情報">
            <table class="table" *ngIf="event && screeningRoom">
                <tbody>
                    <tr>
                        <th>identifier</th>
                        <td>{{event.identifier}}</td>
                    </tr>
                    <tr>
                        <th>name</th>
                        <td>{{event.name.ja}}
                            <br>{{event.name.en}}</td>
                    </tr>
                    <tr>
                        <th>作品</th>
                        <td>{{event.workPerformed.name}}
                            <br>{{event.workPerformed.duration}}</td>
                    </tr>
                    <tr>
                        <th>場所</th>
                        <td>
                            {{event.superEvent.location.branchCode}} {{event.location.branchCode}}
                            <br>{{event.superEvent.location.name.ja}} {{event.location.name.ja}}
                            <br> {{event.superEvent.location.name.en}} {{event.location.name.en}}
                            <br>座席数:{{screeningRoom.containsPlace[0].containsPlace.length}}
                        </td>
                    </tr>
                    <tr>
                        <th>start - end</th>
                        <td>{{event.startDate}} - {{event.endDate}}</td>
                    </tr>
                    <tr>
                        <th>coaInfo</th>
                        <td>{{event.coaInfo|json}}</td>
                    </tr>
                </tbody>
            </table>
        </nb-tab>

        <nb-tab tabTitle="残席数遷移">
            <chart type="line" [data]="data" [options]="options"></chart>
        </nb-tab>

        <nb-tab tabTitle="取引履歴">
            <table class="table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>startDate</th>
                        <th>endDate</th>
                        <th>seats</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of datas">
                        <th scope="row">{{data.id}}</th>
                        <td>{{data.startDate}}</td>
                        <td>{{data.endDate}}</td>
                        <td>{{data.seatReservationAuthorizeAction.seatNumbers|json}}
                            <br>{{data.seatReservationAuthorizeAction.endDate}}</td>
                    </tr>
                </tbody>
            </table>
        </nb-tab>
    </nb-tabset>
</nb-card>