<div class="modal-header">
    <span>{{ modalHeader }}</span>
    <button class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <nb-tabset>
        <nb-tab tabTitle="Details">
            <table class="table" *ngIf="transaction">
                <tbody>
                    <tr>
                        <th>id</th>
                        <td>{{transaction.id}}</td>
                    </tr>
                    <tr>
                        <th>status</th>
                        <td>{{transaction.status}}</td>
                    </tr>
                    <tr>
                        <th>date</th>
                        <td>
                            {{transaction.startDate}} 開始
                            <br> {{transaction.endDate}} 成立
                        </td>
                    </tr>
                    <tr>
                        <th>customer</th>
                        <td>
                            {{transaction.object.customerContact.givenName}} {{transaction.object.customerContact.familyName}}
                            <br> {{transaction.object.customerContact.telephone}}
                            <br> {{transaction.object.customerContact.email}}
                        </td>
                    </tr>
                    <tr *ngIf="transaction.result">
                        <th>order</th>
                        <td>
                            {{transaction.result.order.orderNumber}}<br>
                            {{transaction.result.order.acceptedOffers[0].itemOffered.reservationFor.identifier}}<br>
                            {{transaction.result.order.acceptedOffers[0].itemOffered.reservationFor.name.ja}}<br>
                        </td>
                    </tr>
                </tbody>
            </table>
        </nb-tab>
    </nb-tabset>
</div>
<div class="modal-footer">
    <button class="btn btn-md btn-primary" (click)="closeModal()">Close</button>
</div>