<div class="row">
    <div class="col-md-12">
        <nb-card class="inline-form-card">
            <nb-card-header>上映イベント検索</nb-card-header>
            <nb-card-body>
                <form [formGroup]="conditionsForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Where?</label>
                        <select multiple class="form-control" formControlName="superEventLocationIdentifiers">
                            <option *ngFor="let movieTheater of movieTheaters" value="MovieTheater-{{movieTheater.branchCode}}">{{movieTheater.name.ja}}</option>
                        </select>
                    </div>
                    <!-- <div class="form-group">
                        <label>When?</label>
                        <input formControlName="startFrom" type="text" class="form-control" placeholder="購入番号" required>
                    </div> -->

                    <button type="submit" class="btn btn-primary">Search</button> &nbsp;
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<nb-card>
    <nb-card-header>
        <span>Results</span>
    </nb-card-header>
    <nb-card-body>
        <table class="table">
            <thead>
                <tr>
                    <th>identifier</th>
                    <th>name</th>
                    <th>作品</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let event of events">
                    <th scope="row" (click)="onSelect(event)">{{event.identifier}}</th>
                    <td>{{event.name.ja}}
                        <br>{{event.name.en}}</td>
                    <td>{{event.workPerformed.name}}
                        <br>{{event.workPerformed.duration}}</td>
                </tr>
            </tbody>
        </table>
    </nb-card-body>
</nb-card>