<header class="navbar navbar-expand bg-primary flex-column flex-md-row">
    <a class="navbar-brand mr-0 mr-md-2" href="/">
        <img src="/images/logo.svg" width="140">
    </a>
    <button class="btn btn-link sidebar-trigger d-md-none p-0 text-light" type="button" data-toggle="collapse" data-target="#nav"
        aria-controls="nav" aria-expanded="false" aria-label="Toggle docs navigation">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false">
            <title>Menu</title>
            <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path>
        </svg>
    </button>
</header>