<nb-card>
    <nb-card-header>
        <span>シナリオつき負荷テスト</span>
        <div class="input-group">
            <input #issueingInterval (blur)="updateIssueingInterval(issueingInterval.value)" type="text" class="form-control" placeholder="">
            <span class="input-group-btn">
                <button type="button" class="btn btn-success btn-icon" (click)="startTest();">
                    <i class="nb-play"></i>
                </button>
                <button type="button" class="btn btn-danger btn-icon" (click)="stopTest();">
                    <i class="nb-pause"></i>
                </button>
            </span>
        </div>
    </nb-card-header>
    <nb-card-body>
        <p>{{result}}</p>
    </nb-card-body>
</nb-card>