<div class="modal-header">
    <span>{{ modalHeader }}</span>
    <button class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!-- <iframe id="screen" width="0" height="0" src="https://sskts-frontend-development.azurewebsites.net/screen/?theaterCode=101&dateJouei=20180127&titleCode=99100&titleBranchNum=0&timeBegin=1310&screenCode=35&width=300"
        frameborder="0"></iframe> -->

    <nb-tabset>
        <nb-tab *ngIf="aggregations" tabTitle="集計">
            <p>{{ aggregations | json }}</p>

        </nb-tab>
    </nb-tabset>
</div>
<div class="modal-footer">
    <button class="btn btn-md btn-primary" (click)="closeModal()">Close</button>
</div>